.HomeNavLink {
    display: block;
    width: 80%;
    margin: 10px;
    color: #000;
    text-decoration: none;
    background: crimson;
    padding: 10px;
    text-align: center;
}
.HomeNavLink:hover{
    color: white;
}
.Active{
    font-weight: bold;
    color: white;
}