.MainNav {
    text-align: right;
    background: crimson;
}
.Logo{
    float: left;
    margin-left: 50px;
    color: white;
}
.NavLink {
    display: inline-block;
    padding: 10px;
    margin: 10px 20px;
    text-decoration: none;
    color: #000;
}
.NavLink:hover {
    color: white;
}
.Active{
    font-weight: bold;
    color: white;
}
