.QuoteForm {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.QuoteForm select,
.QuoteForm input,
.QuoteForm button,
.QuoteForm textarea {
    display: block;
    margin: 15px auto;
    padding: 10px;
}

.QuoteForm select {
    width: 90%;
}

.QuoteForm input,
.QuoteForm textarea {
    width: 86%;
    border: 1px solid crimson;
}

.QuoteForm select,
.QuoteForm button {
    background: crimson;
    border: transparent;
}

.QuoteForm button {
    border-radius: 5px;
}