.HomePage {
   display: flex;
    justify-content: left;
    max-width: 900px;
    margin: 20px auto;
}
.HomeNavLinks{
    margin-right: 10px;
    width: 25%;
}
.Quotes {
    width: 70%;
    overflow: auto;
    height: 500px;
}

