.Author{
    font-style: italic;
    font-weight: bold;
}
.QuoteList {
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}

.Button {
    background: crimson;
    border-radius: 5px;
    border: transparent;
    padding: 5px;
    margin: 10px;
}
.Button:hover{
    background: darksalmon;
}